/********** GENERICS **********/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  img{
    width: 100%;
  }


  
  body{
    font-family: 'Montserrat', sans-serif;
  }
/************************************************************************************************/
  /******************** BODY ********************/

  /******** VIEWPORT-CONTAINER ********/

  .viewport-container{
    display: flex;
    height: 90vh;
    
  }



  /******* aside-bar *******/

  

  .aside-bar{
    background-color: black;
    width: 8vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px;
    
   
  }

  
  .aside-bar div img{
    padding: 5px 0;
  }


  
  #profile-container{
    clip-path: circle(50%);
    background-color: #808080;
  }

  
  #profile-container img{
    width: 60%;
    text-align: center;
  }


  
  #download-img{
    width: 80%;
    padding: 0 0 10px 5px;
  }
  /******* main *******/

  
  main{
    width: calc(100% - 8vh);
    background-color: #141922;
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
    
    
  }


  /*** Header***/
  
  
  header{
    background-color:#080b12 ;
    opacity: 60%;
    display: flex;
    justify-content: flex-end;
    padding:20px;
    position: fixed;
    width: calc(100%);
    
    
  }

  #header-button{
    background-color: #080b12;
    border-style: solid;
    border-color: white;
    color: white;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    margin-right: 100px;
  }



  /*** Menu-section ***/



  
  #Menu{
    margin-top: 100px;
  }
  .a-menu{
    color: #7c7e83;
    text-decoration: none;
    padding: 0 8px;
  }


  
  #Menu div div{
    padding:20px 0;
    
  }



  /*** RecentlyPlayed-section ***/

  
  #RecentlyPlayed h1,#RecentlyPlayed div div{
    padding: 20px 20px;
    color: white;
  }

  
  #RecentlyPlayed div h2{
    padding: 10px 0;
    font-size: 1.2rem;
    
  }

  
  #RecentlyPlayed h3{
    color: #7b7d82;
    
    font-size: 1rem;


  }


.w{
    width: calc(100% / 2);
    
   
}



/*** For-You-section ***/


.w-For-You{
    width: calc(100% / 2);

}


 #For-You h1,#For-You div div{
    padding: 20px 20px;
    color: white;
}

 .foryouh2{
    padding: 10px 0;
    font-size: 1.2rem;
    
  }


 #For-You h3{
    color: #7b7d82;
    
    font-size: 1rem;
    padding-left: 20px;


  }




  /*** Popular-Artists-section ***/









  /*********** Footer ***********/

  
  footer{
    background-color:#282828;
    height: 10vh;
    
    
   
    width: 100%;
  }

  
.footer-container{
    padding: 15px;
    column-gap: 5px;
    
}


footer h2{
    color: white;
    font-size: 0.8rem;

}

footer h3{
    color: #7b7d82 ;
    font-size: 0.6rem;
    
}




footer div div i{
    color: #7b7d82;
}





.player i{
    color: white;
    align-self: center;
    padding: 10px;
}



#player-counter{
    width: 60%;
    height: 5px;
    background-color: #7b7d82;
    align-self: center;
    margin: 0 5px 0 5px;
}



span{
    color: white;
    align-self: center;
    font-size: 0.7rem;
    
}



#player-bar{
  width: 20%;
  background-color: #c1c1c1;
  height: 100%;
    
}



#volume-counter {
  width: 40%;
  height: 5px;
  background-color: #7b7d82;
  
}


#volume-bar{
  width: 20%;
  height: 100%;
  background-color: #c1c1c1;

}


.w-footer{
  width: 25%;
}


#w-player-footer{
  width: 50%;
}

/**************************************************************************/


/******** UTILITIES ********/


/**** Flex ****/

.flex{
    display: flex;
}


.wrap{
    flex-wrap: wrap;

}

.center{
    justify-content: center;
}


.column{
    flex-direction: column;
}



.text-center{
    text-align: center;

}




.between{
    justify-content: space-between;
}



.start{
  justify-content: flex-start;
}



