/********** GENERICS **********/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  img{
    width: 100%;
  }


  /*************** BODY ***************/

  /******** VIEWPORT-CONTAINER ********/

  .viewport-container{
    display: flex;
    
  }



  /******* aside-bar *******/

  

  .aside-bar{
    background-color: black;
    width: 8vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
   
  }

  .aside-fa{
    color: white;
    margin: 10px 10px;
    
    align-self: center;
  }


  /******* main *******/

  
  main{
    width: calc(100% - 8vh);
    background-color: #141922;
    
  }


  /*** Header***/
  
  
  header{
    background-color:#080b12 ;
    opacity: 90%;
    display: flex;
    justify-content: flex-end;
    padding:20px;
    
  }

  #header-button{
    background-color: #080b12;
    border-style: solid;
    border-color: white;
    color: white;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
  }



  /*** Menu-section ***/


  
  .a-menu{
    color: #7c7e83;
    text-decoration: none;
    padding: 0 8px;
  }


  
  #Menu div div{
    padding:20px 0;
    
  }



  /*** RecentlyPlayed-section ***/

  
  #RecentlyPlayed h1,#RecentlyPlayed div div{
    padding: 20px 20px;
    color: white;
  }

  
  #RecentlyPlayed div h2{
    padding: 10px 0;
    font-size: 1.2rem;
    
  }

  
  #RecentlyPlayed h3{
    color: #7b7d82;
    
    font-size: 1rem;


  }


.w{
    width: calc(100% / 2);
    
   
}



/*** For-You-section ***/


.w-For-You{
    width: calc(100% / 2);

}


 #For-You h1,#For-You div div{
    padding: 20px 20px;
    color: white;
}

 .foryouh2{
    padding: 10px 0;
    font-size: 1.2rem;
    
  }


 #For-You h3{
    color: #7b7d82;
    
    font-size: 1rem;
    padding-left: 20px;


  }




  /*** Popular-Artists-section ***/

  









/**************************************************************************/


/******** UTILITIES ********/


/**** Flex ****/

.flex{
    display: flex;
}


.wrap{
    flex-wrap: wrap;

}

.center{
    justify-content: center;
}


.column{
    flex-direction: column;
}



.text-center{
    text-align: center;

}